@using System.Security.Principal

@{
    ViewBag.UserName = string.IsNullOrEmpty(User.Identity?.Name) ? "Hello!" : "Hello, " + User.Identity.Name;
}

<section>
    <div>
        <nav class="navbar is-primary">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="@Url.Action("Index", "Home")">
                        <img src="/img/cycle.png" width="48" height="48">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHero6">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHero6" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active" href="@Url.Action("Index", "Home")">
                            Home
                        </a>
                        <a class="navbar-item" href="@Url.Action("Index", "Boards")">
                            Boards
                        </a>
                        @if(User.Identity.IsAuthenticated){
                            <div class="navbar-item has-dropdown is-hoverable">
                                <div class="navbar-link">
                                    @ViewBag.UserName
                                </div>
                                <div id="moreDropdown" class="navbar-dropdown ">
                                    <a class="navbar-item" href="/MicrosoftIdentity/Account/EditProfile">
                                       Edit profile
                                    </a>
                                </div>
                            </div>
                            <a class="navbar-item" href="/MicrosoftIdentity/Account/SignOut?post_logout_redirect_uri=/">
                                Sign out
                            </a>
                        }
                        else
                        {
                            <a class="navbar-item" href="@Url.Action("Loginup", "Profile")">
                                Register / Sign in
                            </a>
                        }

                        <a class="navbar-item" href="@Url.Action("Index", "Profile")">
                            Profile
                        </a>

                        <a href="#" class="navbar-item" id="nightMode">
                            <span>Light/Dark</span>
                        </a>
                        
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Hero content: will be in the middle -->
    @if (ViewBag.HasHero != null)
    {
        <div class="hero @ViewBag.HeroClass">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                        @ViewBag.HeroTitle
                    </h1>
                    @if (ViewBag.HeroSubtitle != null)
                    {
                        <h2 class="subtitle">
                            @ViewBag.HeroSubtitle
                        </h2>
                    }
                </div>
            </div>
            @if (ViewBag.HeroFooter != null)
            {
                <div class="hero-foot">
                    <nav class="tabs">
                        <div class="container">
                            <ul>
                                @foreach (var item in (List<KeyValuePair<string, string>>)ViewBag.HeroFooter)
                                {
                                    <li>
                                        <a href="#@item.Key">@item.Value</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            }
        </div>
    }
</section>